body {
    background-color: black;
    font-family: arial;
    color: white;

}
h1{
    color: grey;
    font-family: Verdana;
}
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    /*Unknown proptery: 'align' message - when using Theia. Margin as subsitution centers just the same*/
    margin: auto;
}
